@import "tailwindcss";
@keyframes gradientAnimation {
  0% {
    background: linear-gradient(45deg, #ffd700, #ffa07a, #ff69b4, #ff33cc);
  }
  25% {
    background: linear-gradient(45deg, #ff69b4, #ff33cc, #ffd700, #ffa07a);
  }
  50% {
    background: linear-gradient(45deg, #ff33cc, #ffd700, #ffa07a, #ff69b4);
  }
  75% {
    background: linear-gradient(45deg, #ffa07a, #ff69b4, #ff33cc, #ffd700);
  }
  100% {
    background: linear-gradient(45deg, #ffd700, #ffa07a, #ff69b4, #ff33cc);
  }
}

.animate-bg-gradient {
  position: absolute;
  inset: 0;
  animation: gradientAnimation 10s infinite ease-in-out alternate;
  background-size: 300% 300%;
  z-index: -1;
  transition: background 0.5s linear;
}

